<!DOCTYPE html>
<html>
<head>
  <title>Me and Greg's Practice App!</title>
</head>
<body ng-app="app">
  <!-- App Dependencies -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/underscore/underscore.js"></script>

  <div ng-controller="AppController">
    <h1 ng-if="showHeader">This is a sweet ass Header!</h1>

    <input type="text" ng-model="todo">

    <button ng-click="addTodo('what up')">Add Todo</button>

    <div ng-repeat="todo in todos" ng-mouseenter="deleteTodo($index)">
      <h4>{{ todo.data.author }}</h4>
      <img ng-src="{{ todo.data.thumbnail}}">
      <h5>
       <a href="{{ todo.data.url }}">{{ todo.data.title }}</a>
     </h5>
    </div>

    <button ng-click="getData()">Get Data</button>
  </div>

  <!-- App Scripts -->
  <script src="./app/app.js"></script>
</body>
</html>